---
import Layout from '../layouts/Layout.astro'
import Section from '../components/Section.astro'
import Hero from '../components/Hero.astro'
---

<Layout
   title="Portfolio de Víctor Araya - Desarrollador y Programador Web"
   description="Contrata a Víctor Araya para crear tu aplicación web o móvil. Desarrollador web especializado en Backend"
>
   <main class="flex-grow">
      <!-- HERO -->
      <Section id="home" class="bg-cube-alabaster">
         <Hero class="mx-auto max-w-screen-lg bg-violet-100" />
      </Section>

      <!-- ABOUT ME -->
      <Section id="about" class="">
         <h1 class="pb-4">Sobre mi</h1>
      </Section>

      <!-- PROJECTS -->
      <Section id="projects" class="bg-cube-alabaster">
         <h1 class="pb-4">Proyectos</h1>
      </Section>

      <!-- CONTACT -->
      <Section id="contact" class="">
         <h1 class="pb-4">Contacto</h1>
      </Section>
   </main>
</Layout>
