---
import NavPhills from './NavPhills.astro'
---

<footer class="bg-cube-balicSea text-cube-alabaster w-full px-3 py-14 sm:px-10">
   <div class="mx-auto max-w-screen-lg">
      <div class="flex flex-wrap items-center justify-center gap-6 sm:justify-between">
         <h3 class="text-center text-lg font-bold lg:text-xl">
            Copyright © 2024. All rights are reserved
         </h3>
         <NavPhills class="flex flex-wrap" />
      </div>
   </div>
</footer>

<!-- xl:max-w-[1120px] -->
