---
// Supports weights 100-900
import '@fontsource-variable/onest'
// Supports weights 200-900
import '@fontsource-variable/nunito'
// Supports weights 100-900
import '@fontsource-variable/inter'
// Supports weights 200-900
import '@fontsource-variable/source-code-pro'
import '@fontsource/ubuntu'
interface Props {
   title: string
   description: string
}

const { title, description } = Astro.props
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
---

<!doctype html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="description" content={description} />
      <meta name="viewport" content="width=device-width" />
      <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
      <meta name="generator" content={Astro.generator} />
      <title>{title}</title>
   </head>
   <body>
      <Header />
      <slot />
      <Footer />
   </body>
</html>

<style is:global>
   html {
      font-family: 'Onest Variable', 'Press Start 2P', system-ui, sans-serif;
      scroll-behavior: smooth;
   }
   body {
      display: flex;
      flex-direction: column;
      min-height: 100dvh;
   }
   @media (prefers-reduced-motion: reduce) {
      html {
         scroll-behavior: auto;
      }
   }
</style>
