<a
   {...Astro.props}
   class="text-semibold
         flex items-center
         justify-center gap-x-2 px-2 text-lg transition
         hover:scale-110 lg:text-xl"
   target="_blank"
   rel="noopener noreferrer"
>
   <slot />
</a>
